.todo {
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    text-align: left;
    padding: 10px;

    margin-bottom: 5px;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

[contenteditable] {
    outline: 0px solid transparent;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

.expandedContent {
    min-height: 50px;
}

.notExpandedContent {
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 40px;
}

input {
    float: left;
}