.todo {
    border: #282c34;
    border-style: dashed;
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    text-align: left;
    padding-right: 10px;

    margin-bottom: 2px;
}

.no-outline:focus {
    outline: none;
}

input {
    float: left;
}

textarea {
    resize: none;
    width: 96%;
    border: none;
}